body {
  background-color: #D4E6F1;
}
h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-top: 100px;
}
h2{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0% 10% 0% 10%;
}
h3{
  font-family: 'Raleway', sans-serif;
}
p{
  font-family: 'Source Serif Pro', serif;
}
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
img{
  height: 400px;
  width: 315px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 20px;
}
.right{
  display: flex;
  position: relative;
  right: 0px;
 width: 500px;
}
